{
  "openapi": "3.0.1",
  "info": {
    "title": "Admin API",
    "description": "Microservice for administration, configuration, user and role management, and service-level operations.",
    "version": "version"
  },
  "servers": [
    {
      "url": "https://amritwprdev.piramalswasthya.org",
      "description": "Dev"
    },
    {
      "url": "https://uatamrit.piramalswasthya.org",
      "description": "UAT"
    },
    {
      "url": "https://amritdemo.piramalswasthya.org",
      "description": "Demo"
    }
  ],
  "security": [
    {
      "my security": []
    }
  ],
  "paths": {
    "/zonemaster/update/zoneData": {
      "post": {
        "tags": [
          "zone-master-controller"
        ],
        "summary": "Update zone details",
        "operationId": "updateZoneData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/zonemaster/save/zone": {
      "post": {
        "tags": [
          "zone-master-controller"
        ],
        "summary": "Store zone details",
        "operationId": "saveZone",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/zonemaster/save/zoneDistrictMapping": {
      "post": {
        "tags": [
          "zone-master-controller"
        ],
        "summary": "Map zone with district",
        "operationId": "mapZoneWithDistrict",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/zonemaster/remove/zone": {
      "post": {
        "tags": [
          "zone-master-controller"
        ],
        "summary": "Remove zone",
        "operationId": "deleteZone",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/zonemaster/remove/zoneDistrictMapping": {
      "post": {
        "tags": [
          "zone-master-controller"
        ],
        "summary": "Remove zone district mapping",
        "operationId": "deleteZoneDistrictMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/zonemaster/getdistrictMappedtoZone": {
      "post": {
        "tags": [
          "zone-master-controller"
        ],
        "summary": "Zone district mapping",
        "operationId": "getMappedDistrictByZoneID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/zonemaster/get/zones": {
      "post": {
        "tags": [
          "zone-master-controller"
        ],
        "summary": "Get zone details",
        "operationId": "getZones",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/zonemaster/get/zoneDistrictMappings": {
      "post": {
        "tags": [
          "zone-master-controller"
        ],
        "summary": "Get zone details",
        "operationId": "getZoneDistrictMappings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/zonemaster/edit/zoneDistrictMapping": {
      "post": {
        "tags": [
          "zone-master-controller"
        ],
        "summary": "Edit zone district",
        "operationId": "editZoneDistrict",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/villageMaster/update/villageData": {
      "post": {
        "tags": [
          "village-master-controller"
        ],
        "summary": "Update village details",
        "operationId": "updateVillageData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/villageMaster/save/VillageDetails": {
      "post": {
        "tags": [
          "village-master-controller"
        ],
        "summary": "Store village details",
        "operationId": "saveVillageDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/villageMaster/remove/village": {
      "post": {
        "tags": [
          "village-master-controller"
        ],
        "summary": "Remove village",
        "operationId": "deleteVillage",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/villageMaster/get/Villages": {
      "post": {
        "tags": [
          "village-master-controller"
        ],
        "summary": "Get village details",
        "operationId": "getVillages",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/videoConsultation/getmappedUsers/{serviceproviderID}": {
      "post": {
        "tags": [
          "video-consultation-controller"
        ],
        "summary": "Get mapped user",
        "operationId": "getmappedUsers",
        "parameters": [
          {
            "name": "serviceproviderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/videoConsultation/getdomain/{serviceproviderID}": {
      "post": {
        "tags": [
          "video-consultation-controller"
        ],
        "summary": "Get domain",
        "operationId": "getdomain",
        "parameters": [
          {
            "name": "serviceproviderID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/videoConsultation/editUser": {
      "post": {
        "tags": [
          "video-consultation-controller"
        ],
        "summary": "Edit user",
        "operationId": "editUser",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserVideoConsultation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/videoConsultation/createUser": {
      "post": {
        "tags": [
          "video-consultation-controller"
        ],
        "summary": "Create user",
        "operationId": "createUserTM",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserVideoConsultation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/update/vanDetails": {
      "post": {
        "tags": [
          "van-master-controller"
        ],
        "summary": "Update van details",
        "operationId": "updateZoneData_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/save/vanTypeDetails": {
      "post": {
        "tags": [
          "van-master-controller"
        ],
        "summary": "Store van type details",
        "operationId": "saveVanTypeDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/save/vanServicePointMappings": {
      "post": {
        "tags": [
          "van-service-point-mapping-controller"
        ],
        "summary": "Store van service point mappings",
        "operationId": "saveVanServicePointMappings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/save/vanDetails": {
      "post": {
        "tags": [
          "van-master-controller"
        ],
        "summary": "Store van details",
        "operationId": "saveVanDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/remove/vanTypeDetails": {
      "post": {
        "tags": [
          "van-master-controller"
        ],
        "summary": "Remove van type",
        "operationId": "deleteVanType",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/remove/vanServicePointMapping": {
      "post": {
        "tags": [
          "van-service-point-mapping-controller"
        ],
        "summary": "Remove van service point mapping",
        "operationId": "deleteVanServicePointMappingDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/remove/vanDetails": {
      "post": {
        "tags": [
          "van-master-controller"
        ],
        "summary": "Remove van",
        "operationId": "deleteVanDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/getVanMaster": {
      "post": {
        "tags": [
          "van-master-controller"
        ],
        "summary": "Get van details",
        "operationId": "getVanMaster",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/getVanFromFacilityID": {
      "post": {
        "tags": [
          "van-master-controller"
        ],
        "summary": "Get van details",
        "operationId": "getVanFromFacilityID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/M_Van"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/get/vanTypes": {
      "post": {
        "tags": [
          "van-master-controller"
        ],
        "summary": "Get van types",
        "operationId": "getVanTypes",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/get/vanServicePointMappings": {
      "post": {
        "tags": [
          "van-service-point-mapping-controller"
        ],
        "summary": "Get van service point mappings",
        "operationId": "getVanServicePointMappings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/get/vanServicePointMappingsV1": {
      "post": {
        "tags": [
          "van-service-point-mapping-controller"
        ],
        "summary": "Get van service point mappings",
        "operationId": "vanServicePointMappingsV1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/vanMaster/get/vanDetails": {
      "post": {
        "tags": [
          "van-master-controller"
        ],
        "summary": "Get van details",
        "operationId": "getServicePoints",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/usrRoleAndCtiMapping": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "User role and cti mapping",
        "operationId": "usrRoleAndCtiMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/userRoleMappings": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "User role mappings",
        "operationId": "UserRoleMappings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/userRoleMapping": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "User role mapping",
        "operationId": "UserRoleMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/userLanguageMapping": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "User language mapping",
        "operationId": "UserLangMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/uptsu/submit/cdss": {
      "post": {
        "tags": [
          "facility-controller"
        ],
        "summary": "Save cdss details",
        "operationId": "saveCdssDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/uptsu/saveFacility": {
      "post": {
        "tags": [
          "facility-controller"
        ],
        "summary": "Save facility",
        "operationId": "saveFacilityData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/updateUserRoleMapping": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "Update user role mapping",
        "operationId": "updateUserRoleMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/updateUserLanguageMapping": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "Update user language mapping",
        "operationId": "updateUserLanguageMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/updateProvider": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Update provider",
        "operationId": "updateProvider",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/updateProviderAdmin": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Update provider admin",
        "operationId": "updateProviderAdmin",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/updateNodalEmailConfig": {
      "post": {
        "tags": [
          "nodal-config-controller"
        ],
        "summary": "Update nodal email config",
        "operationId": "updateNodalEmailConfig",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNodalEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/updateEmailConfig": {
      "post": {
        "tags": [
          "email-config-controller"
        ],
        "summary": "Update email configuration",
        "operationId": "updateEmailConfig",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAuthEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/updateDrugStrangth": {
      "post": {
        "tags": [
          "drug-strength"
        ],
        "summary": "Update drug strength",
        "operationId": "updateDrugStrangth",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/updateCalibrationStrip": {
      "post": {
        "tags": [
          "calibration-controller"
        ],
        "summary": "Update calibration strip",
        "operationId": "updateCalibrationStrip",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/updateCTICampaignNameMapping": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "Update CTI campaign name mapping",
        "operationId": "updateCTICampaignNameMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/updateAgentIds": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "Update agent ids",
        "operationId": "updateAgentIds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/t/unmappCategoryforFeedbackNature": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Unmap category for feedback nature",
        "operationId": "unmappCategoryforFeedbackNature",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/snomed/updateStatus": {
      "post": {
        "tags": [
          "snomed-mapping-controller"
        ],
        "summary": "Update status",
        "operationId": "updateStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/snomed/saveSnomedMappingData": {
      "post": {
        "tags": [
          "snomed-mapping-controller"
        ],
        "summary": "Save snomed master",
        "operationId": "saveSnomedMaster",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/snomed/fetchSnomedWorklist": {
      "post": {
        "tags": [
          "snomed-mapping-controller"
        ],
        "summary": "Fetch snomed worklist",
        "operationId": "fetchSnomedWorklist",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/snomed/editSnomedMappingData": {
      "post": {
        "tags": [
          "snomed-mapping-controller"
        ],
        "summary": "Edit snomed master",
        "operationId": "editSnomedMaster",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/signature1/upload": {
      "post": {
        "tags": [
          "employee-signature-controller"
        ],
        "summary": "Upload",
        "operationId": "uploadFile",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeSignature"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/servicePointMaster/remove/servicePoint": {
      "post": {
        "tags": [
          "service-point-controller"
        ],
        "summary": "Remove service point",
        "operationId": "deleteServicePoint",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/servicePointMaster/remove/servicePointVillageMap": {
      "post": {
        "tags": [
          "service-point-controller"
        ],
        "summary": "Remove service point by village map",
        "operationId": "deleteServicePointVillageMap",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/servicePointMaster/get/unmappedvillages": {
      "post": {
        "tags": [
          "service-point-controller"
        ],
        "summary": "Get unmapped villages",
        "operationId": "unmappedvillages",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/servicePointMaster/get/servicePoints": {
      "post": {
        "tags": [
          "service-point-controller"
        ],
        "summary": "Get service point details",
        "operationId": "getServicePoints_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/servicePointMaster/get/servicePointVillageMaps": {
      "post": {
        "tags": [
          "service-point-controller"
        ],
        "summary": "Get service point details by village map",
        "operationId": "getServicePointVillageMaps",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/servicePointMaster/edit/servicePoint": {
      "post": {
        "tags": [
          "service-point-controller"
        ],
        "summary": "Edit service point",
        "operationId": "editServicePoint",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/servicePointMaster/edit/servicePointVillageMap": {
      "post": {
        "tags": [
          "service-point-controller"
        ],
        "summary": "Edit service point by village map",
        "operationId": "editServicePointVillageMap",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/servicePointMaster/create/servicePoints": {
      "post": {
        "tags": [
          "service-point-controller"
        ],
        "summary": "Store service point details",
        "operationId": "saveServicePoint",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/servicePointMaster/create/servicePointVillageMaps": {
      "post": {
        "tags": [
          "service-point-controller"
        ],
        "summary": "Store service point details by village map",
        "operationId": "saveServicePointVillageMap",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/searchRoleTM": {
      "post": {
        "tags": [
          "role-master-controller"
        ],
        "summary": "Search TM role",
        "operationId": "searchRoleTM",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/searchMappedRoleByNameorUserId": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "Search mapped role by name or user id",
        "operationId": "searchMappedRoleByNameorUserId",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/searchMappedLanguageByUserId": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "Search mapped language by user id",
        "operationId": "searchMappedLanguageByUserId",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/saveQuestionnaire": {
      "post": {
        "tags": [
          "questionnaire-controller"
        ],
        "summary": "Save questionnaire",
        "operationId": "saveQuestionnaire",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/saveConfig": {
      "post": {
        "tags": [
          "email-config-controller"
        ],
        "summary": "Save configuration",
        "operationId": "saveConfig",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateAuthEmailRequestModel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/saveConf": {
      "post": {
        "tags": [
          "nodal-config-controller"
        ],
        "summary": "Save config",
        "operationId": "saveConfig_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateNodalEmailRequestModel"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/providerdelete": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Provider delete",
        "operationId": "providerDelete",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/providerUpdate": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Provider update",
        "operationId": "providerUpdate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/providerCreationAndMapping": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Create and map provder",
        "operationId": "providerCreationAndMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/physicalStockEntry": {
      "post": {
        "tags": [
          "stock-entry-controller"
        ],
        "summary": "Store service point details",
        "operationId": "physicalStockEntry",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhysicalStockEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/patientIssue": {
      "post": {
        "tags": [
          "stock-exit-controller"
        ],
        "summary": "Store service point details",
        "operationId": "patientIssue",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/T_PatientIssue"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceTalukMapping/update/parkingPlacesTalukMapping": {
      "post": {
        "tags": [
          "parking-place-taluk-mapping-controller"
        ],
        "summary": "Update parking place and taluk mapping details",
        "operationId": "updateparkingPlacesTalukMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParkingplaceTalukMapping"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceTalukMapping/getbyppidanddid/parkingPlacesTalukMapping": {
      "post": {
        "tags": [
          "parking-place-taluk-mapping-controller"
        ],
        "summary": "Get all parking place and taluk mapping based on parking place id",
        "operationId": "getafilterparkingPlacesTalukMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParkingplaceTalukMapping"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceTalukMapping/getbyid/parkingPlacesTalukMapping": {
      "post": {
        "tags": [
          "parking-place-taluk-mapping-controller"
        ],
        "summary": "Get parking place and taluk mapping by map id",
        "operationId": "getparkingPlacesTalukMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParkingplaceTalukMapping"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceTalukMapping/getall/parkingPlacesTalukMapping": {
      "post": {
        "tags": [
          "parking-place-taluk-mapping-controller"
        ],
        "summary": "Get all parking place and taluk mapping based on parking place id",
        "operationId": "getallparkingPlacesTalukMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParkingplaceTalukMapping"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceTalukMapping/get/unmappedtaluk": {
      "post": {
        "tags": [
          "parking-place-taluk-mapping-controller"
        ],
        "summary": "Get unmapped taluk by district id",
        "operationId": "getunmappedtaluk",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParkingplaceTalukMapping"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceTalukMapping/create/parkingPlacesTalukMapping": {
      "post": {
        "tags": [
          "parking-place-taluk-mapping-controller"
        ],
        "summary": "Stores parking place and taluk mapping details",
        "operationId": "parkingPlacesTalukMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ParkingplaceTalukMapping"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceTalukMapping/activate/parkingPlacesTalukMapping": {
      "post": {
        "tags": [
          "parking-place-taluk-mapping-controller"
        ],
        "summary": "Activate/deactivate parking place and taluk mapping ",
        "operationId": "activateparkingPlacesTalukMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParkingplaceTalukMapping"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/update/parkingPlaceDetails": {
      "post": {
        "tags": [
          "parking-place-controller"
        ],
        "summary": "Update parking place details",
        "operationId": "updateParkingPlaceDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/save/userParkingPlaces": {
      "post": {
        "tags": [
          "user-parking-place-map-controller"
        ],
        "summary": "Save user parking places",
        "operationId": "saveuserParkingPlaces",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/remove/userParkingPlace": {
      "post": {
        "tags": [
          "user-parking-place-map-controller"
        ],
        "summary": "Remove user parking place",
        "operationId": "deleteuserParkingPlaceDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/remove/parkingPlace": {
      "post": {
        "tags": [
          "parking-place-controller"
        ],
        "summary": "Removes parking place",
        "operationId": "deleteParkingPlace",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/getSubDistrictByParkingPlaceID": {
      "post": {
        "tags": [
          "parking-place-controller"
        ],
        "summary": "Get sub district details",
        "operationId": "getSubDistrictDetailsByParkingPlaceID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/getParkingPlaces": {
      "post": {
        "tags": [
          "parking-place-controller"
        ],
        "summary": "Get parking place details",
        "operationId": "getParkingPlacesProviderserviceMap",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/get/userParkingPlaces": {
      "post": {
        "tags": [
          "user-parking-place-map-controller"
        ],
        "summary": "Get user parking places",
        "operationId": "getuserParkingPlaces",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/get/userParkingPlaces1": {
      "post": {
        "tags": [
          "user-parking-place-map-controller"
        ],
        "summary": "Get user parking places designation",
        "operationId": "getuserParkingPlacesDesiganation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/get/unmappeduser": {
      "post": {
        "tags": [
          "user-parking-place-map-controller"
        ],
        "summary": "Fetch un-mapped users",
        "operationId": "unmappeduser",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/get/parkingPlacesbyzoneid": {
      "post": {
        "tags": [
          "parking-place-controller"
        ],
        "summary": "Get parking place details by zone id",
        "operationId": "getparkingPlacesbyzoneid",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/get/parkingPlaces": {
      "post": {
        "tags": [
          "parking-place-controller"
        ],
        "summary": "Get parking place details",
        "operationId": "getParkingPlaces",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/get/mappedvan/{userppID}": {
      "post": {
        "tags": [
          "user-parking-place-map-controller"
        ],
        "summary": "Fetch mapped vans for user PP id",
        "operationId": "mappedvan",
        "parameters": [
          {
            "name": "userppID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/edit/userParkingPlaces1": {
      "post": {
        "tags": [
          "user-parking-place-map-controller"
        ],
        "summary": "Edit user parking places",
        "operationId": "edituserParkingPlaces",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/delete/userParkingPlaces1": {
      "post": {
        "tags": [
          "user-parking-place-map-controller"
        ],
        "summary": "Delete user parking places",
        "operationId": "deleteuserParkingPlaces",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/delete/mappedvan": {
      "post": {
        "tags": [
          "user-parking-place-map-controller"
        ],
        "summary": "Delete mapped vans for user",
        "operationId": "deletemappedvan",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/parkingPlaceMaster/create/parkingPlaces": {
      "post": {
        "tags": [
          "parking-place-controller"
        ],
        "summary": "Stores parking place details",
        "operationId": "saveParkingPlace",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mappingProviderAdmintoProvider": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Mapping provider admin to provider",
        "operationId": "mappingProviderAdmintoProvider",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/save/vanSpokeMapping": {
      "post": {
        "tags": [
          "van-spoke-mapping-controller"
        ],
        "summary": "Save van and spoke mapping",
        "operationId": "saveBenNCDCareNurseData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/get/vanSpokeMapping": {
      "post": {
        "tags": [
          "van-spoke-mapping-controller"
        ],
        "summary": "Get van and spoke mapping",
        "operationId": "getVanSpokeMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mapping/delete/vanSpokeMapping": {
      "post": {
        "tags": [
          "van-spoke-mapping-controller"
        ],
        "summary": "Delete van and spoke mapping",
        "operationId": "deleteVanSpokeMapping",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mapStore": {
      "post": {
        "tags": [
          "store-controller"
        ],
        "summary": "Map store",
        "operationId": "mapStore",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/M_facilityMap"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mapServiceLinesAndStatetoProvider": {
      "post": {
        "tags": [
          "blocking-controller"
        ],
        "summary": "Map provider and service lines",
        "operationId": "mapProviderAndServiceLines",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mapItemtoStrore": {
      "post": {
        "tags": [
          "m-item-facility-mapping-controller"
        ],
        "summary": "Map item to store",
        "operationId": "mapItemtoStrore",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/mapExterafeature": {
      "post": {
        "tags": [
          "role-master-controller"
        ],
        "summary": "Edit role feature",
        "operationId": "editRolefeature",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/m/updateSubSerive": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Update sub service",
        "operationId": "updateSubSerive",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/m/updateSubCategory": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Update sub category",
        "operationId": "updateSubCategory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/m/updateEmployeeRole": {
      "post": {
        "tags": [
          "employee-master-controller"
        ],
        "summary": "Update employer role",
        "operationId": "updateEmployee",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/m/updateDrugStatus": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Update drug status",
        "operationId": "updateDrugStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/m/updateDrugMaster": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Update drug master",
        "operationId": "updateDrugMaster",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/m/updateDrugMapping": {
      "post": {
        "tags": [
          "provider-on-board-controller"
        ],
        "summary": "Update drug mapping",
        "operationId": "updateDrugMapping",
        "parameters": [
          {
            "name": "Authorization",
[...]
