{
  "openapi": "3.0.1",
  "info": {
    "title": "HWC API",
    "description": "A microservice for the creation and management of beneficiaries.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://amritwprdev.piramalswasthya.org",
      "description": "Dev"
    },
    {
      "url": "https://uatamrit.piramalswasthya.org",
      "description": "UAT"
    },
    {
      "url": "https://amritdemo.piramalswasthya.org",
      "description": "Demo"
    }
  ],
  "security": [
    {
      "my security": []
    }
  ],
  "tags": [
    {
      "name": "Health Check",
      "description": "APIs for checking infrastructure health status"
    }
  ],
  "paths": {
    "/outreachActivities": {
      "get": {
        "tags": [
          "outreach-activity-entity-controller"
        ],
        "description": "get-outreachactivity",
        "operationId": "getCollectionResource-outreachactivity-get_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelOutreachActivity"
                }
              },
              "application/x-spring-data-compact+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelOutreachActivity"
                }
              },
              "text/uri-list": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "outreach-activity-entity-controller"
        ],
        "description": "create-outreachactivity",
        "operationId": "postCollectionResource-outreachactivity-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutreachActivityRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelOutreachActivity"
                }
              }
            }
          }
        }
      }
    },
    "/outreachActivities/search/getActivitiesByUserID": {
      "get": {
        "tags": [
          "outreach-activity-search-controller"
        ],
        "operationId": "executeSearch-outreachactivity-get",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelOutreachActivity"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/outreachActivities/{id}": {
      "get": {
        "tags": [
          "outreach-activity-entity-controller"
        ],
        "description": "get-outreachactivity",
        "operationId": "getItemResource-outreachactivity-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelOutreachActivity"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "outreach-activity-entity-controller"
        ],
        "description": "update-outreachactivity",
        "operationId": "putItemResource-outreachactivity-put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutreachActivityRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelOutreachActivity"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelOutreachActivity"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "tags": [
          "outreach-activity-entity-controller"
        ],
        "description": "delete-outreachactivity",
        "operationId": "deleteItemResource-outreachactivity-delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "outreach-activity-entity-controller"
        ],
        "description": "patch-outreachactivity",
        "operationId": "patchItemResource-outreachactivity-patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutreachActivityRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelOutreachActivity"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/outreaches": {
      "get": {
        "tags": [
          "outreach-entity-controller"
        ],
        "description": "get-outreach",
        "operationId": "getCollectionResource-outreach-get_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelOutreach"
                }
              },
              "application/x-spring-data-compact+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelOutreach"
                }
              },
              "text/uri-list": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "outreach-entity-controller"
        ],
        "description": "create-outreach",
        "operationId": "postCollectionResource-outreach-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutreachRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelOutreach"
                }
              }
            }
          }
        }
      }
    },
    "/outreaches/search/getOutreachListByStateID": {
      "get": {
        "tags": [
          "outreach-search-controller"
        ],
        "operationId": "executeSearch-outreach-get",
        "parameters": [
          {
            "name": "stateID",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelOutreach"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/outreaches/{id}": {
      "get": {
        "tags": [
          "outreach-entity-controller"
        ],
        "description": "get-outreach",
        "operationId": "getItemResource-outreach-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelOutreach"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "outreach-entity-controller"
        ],
        "description": "update-outreach",
        "operationId": "putItemResource-outreach-put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutreachRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelOutreach"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelOutreach"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "tags": [
          "outreach-entity-controller"
        ],
        "description": "delete-outreach",
        "operationId": "deleteItemResource-outreach-delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "outreach-entity-controller"
        ],
        "description": "patch-outreach",
        "operationId": "patchItemResource-outreach-patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutreachRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelOutreach"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/prescriptionTemplateses": {
      "get": {
        "tags": [
          "prescription-templates-entity-controller"
        ],
        "description": "get-prescriptiontemplates",
        "operationId": "getCollectionResource-prescriptiontemplates-get_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelPrescriptionTemplates"
                }
              },
              "application/x-spring-data-compact+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelPrescriptionTemplates"
                }
              },
              "text/uri-list": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "prescription-templates-entity-controller"
        ],
        "description": "create-prescriptiontemplates",
        "operationId": "postCollectionResource-prescriptiontemplates-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrescriptionTemplatesRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelPrescriptionTemplates"
                }
              }
            }
          }
        }
      }
    },
    "/prescriptionTemplateses/search/deletePrescriptionTemplatesByUserIDAndTempID": {
      "get": {
        "tags": [
          "prescription-templates-search-controller"
        ],
        "operationId": "executeSearch-prescriptiontemplates-get",
        "parameters": [
          {
            "name": "userID",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tempID",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/prescriptionTemplateses/search/getPrescriptionTemplatesByUserID": {
      "get": {
        "tags": [
          "prescription-templates-search-controller"
        ],
        "operationId": "executeSearch-prescriptiontemplates-get_1",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelPrescriptionTemplates"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/prescriptionTemplateses/{id}": {
      "get": {
        "tags": [
          "prescription-templates-entity-controller"
        ],
        "description": "get-prescriptiontemplates",
        "operationId": "getItemResource-prescriptiontemplates-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelPrescriptionTemplates"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "prescription-templates-entity-controller"
        ],
        "description": "update-prescriptiontemplates",
        "operationId": "putItemResource-prescriptiontemplates-put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrescriptionTemplatesRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelPrescriptionTemplates"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelPrescriptionTemplates"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "tags": [
          "prescription-templates-entity-controller"
        ],
        "description": "delete-prescriptiontemplates",
        "operationId": "deleteItemResource-prescriptiontemplates-delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "prescription-templates-entity-controller"
        ],
        "description": "patch-prescriptiontemplates",
        "operationId": "patchItemResource-prescriptiontemplates-patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrescriptionTemplatesRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelPrescriptionTemplates"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/profile": {
      "get": {
        "tags": [
          "profile-controller"
        ],
        "operationId": "listAllFormsOfMetadata_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/RepresentationModelObject"
                }
              }
            }
          }
        }
      }
    },
    "/profile/outreachActivities": {
      "get": {
        "tags": [
          "profile-controller"
        ],
        "operationId": "descriptor_1_1_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              },
              "application/alps+json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/schema+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchema"
                }
              }
            }
          }
        }
      }
    },
    "/profile/outreaches": {
      "get": {
        "tags": [
          "profile-controller"
        ],
        "operationId": "descriptor_1_1_2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              },
              "application/alps+json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/schema+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchema"
                }
              }
            }
          }
        }
      }
    },
    "/profile/prescriptionTemplateses": {
      "get": {
        "tags": [
          "profile-controller"
        ],
        "operationId": "descriptor_1_1_3",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              },
              "application/alps+json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/schema+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchema"
                }
              }
            }
          }
        }
      }
    },
    "/profile/userActivityLogses": {
      "get": {
        "tags": [
          "profile-controller"
        ],
        "operationId": "descriptor_1_1_4",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              },
              "application/alps+json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/schema+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonSchema"
                }
              }
            }
          }
        }
      }
    },
    "/userActivityLogses": {
      "get": {
        "tags": [
          "user-activity-logs-entity-controller"
        ],
        "description": "get-useractivitylogs",
        "operationId": "getCollectionResource-useractivitylogs-get_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelUserActivityLogs"
                }
              },
              "application/x-spring-data-compact+json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionModelEntityModelUserActivityLogs"
                }
              },
              "text/uri-list": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "user-activity-logs-entity-controller"
        ],
        "description": "create-useractivitylogs",
        "operationId": "postCollectionResource-useractivitylogs-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserActivityLogsRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelUserActivityLogs"
                }
              }
            }
          }
        }
      }
    },
    "/userActivityLogses/{id}": {
      "get": {
        "tags": [
          "user-activity-logs-entity-controller"
        ],
        "description": "get-useractivitylogs",
        "operationId": "getItemResource-useractivitylogs-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelUserActivityLogs"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "user-activity-logs-entity-controller"
        ],
        "description": "update-useractivitylogs",
        "operationId": "putItemResource-useractivitylogs-put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserActivityLogsRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelUserActivityLogs"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelUserActivityLogs"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "delete": {
        "tags": [
          "user-activity-logs-entity-controller"
        ],
        "description": "delete-useractivitylogs",
        "operationId": "deleteItemResource-useractivitylogs-delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "user-activity-logs-entity-controller"
        ],
        "description": "patch-useractivitylogs",
        "operationId": "patchItemResource-useractivitylogs-patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserActivityLogsRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityModelUserActivityLogs"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/wo/user_biometrics/add/fingerprint/wo": {
      "post": {
        "tags": [
          "user-biomectrics"
        ],
        "summary": "add fingerprint for a given username",
        "operationId": "addFingerPrints",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FingerPrintDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/wo/location/update/villageCoordinates": {
      "post": {
        "tags": [
          "location-controller-wo"
        ],
        "summary": "Update health and wellness center coordinates",
        "operationId": "updateGeolocationVillage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/wo/location/getLocDetailsBasedOnSpIDAndPsmID/wo": {
      "post": {
        "tags": [
          "location-controller-wo"
        ],
        "summary": "Get location details from service point id and provider service map id",
        "operationId": "getLocDetailsBasedOnSpIDAndPsmIDNew",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/getUserVanSpDetails": {
      "post": {
        "tags": [
          "van-spoke-controller"
        ],
        "summary": "Get user van details",
        "operationId": "getUserVanSpDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/getUserServicePointVanDetails": {
      "post": {
        "tags": [
          "van-spoke-controller"
        ],
        "summary": "Get user service point van details",
        "operationId": "getUserServicePointVanDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/getServicepointVillages": {
      "post": {
        "tags": [
          "van-spoke-controller"
        ],
        "summary": "Get service point villages",
        "operationId": "getServicepointVillages",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/uptsu/submit/closevisit": {
      "post": {
        "tags": [
          "up-technical-support-unit-controller"
        ],
        "summary": "Save 104 referred details",
        "operationId": "saveReferred104Details",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/update/benArrivalStatus": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Update beneficiary arrival status based on request",
        "operationId": "benArrivalStatusUpdater",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/startconsultation": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Update first consultation start time",
        "operationId": "startconsultation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/getTCRequestList": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Get teleconsultation request list for a specialist",
        "operationId": "getTCSpecialistWorkListNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/create/benTCRequestWithVisitCode": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Create teleconsultation request from worklist",
        "operationId": "createTCRequestForBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/check/benTCRequestStatus": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Check if specialist can proceed with beneficiary",
        "operationId": "checkBeneficiaryStatusToProceedWithSpecialist",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/cancel/benTCRequest": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Update beneficiary status based on request",
        "operationId": "updateBeneficiaryStatusToCancelTCRequest",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sync/userActivityLogsToServer": {
      "post": {
        "tags": [
          "cho-app-sync-controller"
        ],
        "summary": "Sync user activity logs to AMRIT server",
        "operationId": "userActivityLogsSyncToServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserActivityLogs"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sync/prescriptionTemplatesToServer": {
      "post": {
        "tags": [
          "cho-app-sync-controller"
        ],
        "summary": "Save prescription templates to AMRIT server",
        "operationId": "prescriptionTemplatesToServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PrescriptionTemplates"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sync/generalOPDNurseFormDataToServer": {
      "post": {
        "tags": [
          "cho-app-sync-controller"
        ],
        "summary": "Save beneficiaries nurse-form data CHO App to AMRIT server",
        "operationId": "beneficiaryNurseFormDataGeneralOPDSyncToServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sync/beneficiaryGeneralOPDNurseFormDataToApp": {
      "post": {
        "tags": [
          "cho-app-sync-controller"
        ],
        "summary": "Sync beneficiaries nurse-form data from AMRIT server to CHO App",
        "operationId": "beneficiaryNurseFormDataGeneralOPDSyncToAppLocal",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sync/beneficiariesToServer": {
      "post": {
        "tags": [
          "cho-app-sync-controller"
        ],
        "summary": "Sync new beneficiaries to AMRIT server",
        "operationId": "beneficiaryRegistrationSyncToServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sync/beneficiariesToApp": {
      "post": {
        "tags": [
          "cho-app-sync-controller"
        ],
        "summary": "Sync beneficiaries from AMRIT server to CHO App",
        "operationId": "beneficiarySyncToAppLocal",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sync/beneficiariesToAppCount": {
      "post": {
        "tags": [
          "cho-app-sync-controller"
        ],
        "summary": "Returns count of beneficiaries to be synced from AMRIT server to CHO App",
        "operationId": "beneficiarySyncToAppLocalCount",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sync/benFlowStatusRecordsToApp": {
      "post": {
        "tags": [
          "cho-app-sync-controller"
        ],
        "summary": "Sync beneficiaries flow status records ",
        "operationId": "flowStatusesSyncToAppLocal",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sync/benFlowStatusRecordsCount": {
      "post": {
        "tags": [
          "cho-app-sync-controller"
        ],
        "summary": "Returns count of beneficiaries flow status records to be synced",
        "operationId": "flowStatusesSyncToAppLocalCount",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sync/activity/create": {
      "post": {
        "tags": [
          "cho-app-sync-controller"
        ],
        "summary": "Create new event for outreach activity",
        "operationId": "createNewOutreachActivity",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OutreachActivity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/snomed/getSnomedCTRecord": {
      "post": {
        "tags": [
          "snomed-controller"
        ],
        "summary": "Retrieve Snomed clinical term",
        "operationId": "getSnomedCTRecord",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/snomed/getSnomedCTRecordList": {
      "post": {
        "tags": [
          "snomed-controller"
        ],
        "summary": "Retrieve Snomed clinical term list",
        "operationId": "getSnomedCTRecordList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/screeningOutcome/hypertension": {
      "post": {
        "tags": [
          "diabetes-hypertension-screening-controller"
        ],
        "summary": "Evaluate hypertension screening outcome",
        "operationId": "getHypertensionOutcome",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/screeningOutcome/diabetes": {
      "post": {
        "tags": [
          "diabetes-hypertension-screening-controller"
        ],
        "summary": "Evaluate diabetes screening outcome",
        "operationId": "getDiabetesOutcome",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/update/BeneficiaryUpdate": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Update registered beneficiary details",
        "operationId": "beneficiaryUpdate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/update/BeneficiaryDetails": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Update registered beneficiary data",
        "operationId": "updateBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarWorkListData": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get registrar worklist data",
        "operationId": "getRegistrarWorkList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarMasterData": {
      "post": {
        "tags": [
          "registrar-master-controller"
        ],
        "summary": "Get master data for registrar",
        "operationId": "masterDataForRegistration",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarBeneficaryRegistration": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Register a new beneficiary",
        "operationId": "createBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarBeneficaryRegistrationNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Register a new beneficiary new API",
        "operationId": "registrarBeneficaryRegistrationNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/quickSearch": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search for beneficiary based on beneficiary id",
        "operationId": "quickSearchBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/quickSearchNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search beneficiary based on beneficiary id or beneficiary phone number",
        "operationId": "quickSearchNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/quickSearchES": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search beneficiary using Elasticsearch",
        "operationId": "quickSearchES",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/getBenImage": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary image",
        "operationId": "getBenImage",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/beneficiaryImage": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary image",
        "operationId": "getBeneficiaryImage",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/beneficiaryDetails": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary details",
        "operationId": "getBeneficiaryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/benDetailsByRegID": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary details based on beneficiary register id",
        "operationId": "getBenDetailsByRegID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/benDetailsByRegIDForLeftPanelNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary details for side panel",
        "operationId": "getBenDetailsForLeftSidePanelByRegID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/create/BenReVisitToNurse": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search and submit beneficiary to nurse for revisit",
        "operationId": "createReVisitForBenToNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/benAdvanceSearchNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Beneficiary advance search",
        "operationId": "benAdvanceSearchNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/advancedSearchES": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Beneficiary advanced search using Elasticsearch",
        "operationId": "advanceSearchES",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/advanceSearch": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search for beneficiary based on provided data",
        "operationId": "advanceSearch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/advanceSearchNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Beneficiary advance search integrated with common and identity API",
        "operationId": "advanceSearchNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/quickblox/getquickbloxIds": {
      "post": {
        "tags": [
          "quickblox-controller"
        ],
        "summary": "Get quickblox id",
        "operationId": "getquickbloxIds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/update/vitalScreen": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Update COVID beneficiary vitals",
        "operationId": "updateVitalNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/update/historyScreen": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Update COVID beneficiary history",
        "operationId": "updateHistoryNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/update/doctorData": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Update COVID beneficiary case-record and referral details",
        "operationId": "updateCovid19DoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/save/nurseData": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Save COVID nurse data",
        "operationId": "saveBenNCDCareNurseData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/save/doctorData": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Save COVID doctor data",
        "operationId": "saveBenCovidDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenVitalDetailsFrmNurseCovid": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get COVID beneficiary vitals",
        "operationId": "getBenVitalDetailsFrmNurseNCDCare",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenVisitDetailsFrmNurseCovid": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get COVID beneficiary visit details",
        "operationId": "getBenVisitDetailsFrmNurseCovid19",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenCovid19HistoryDetails": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get COVID beneficiary history",
        "operationId": "getBenCovid19HistoryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenCaseRecordFromDoctorCovid": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get COVID beneficiary case-record and referral details",
        "operationId": "getBenCaseRecordFromDoctorCovid19",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/update/vitalScreen": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Update neonatal infant beneficiary vitals",
        "operationId": "updateVitalNurseNNI",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/update/doctorData": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Update neonatal infant data collected by doctor",
        "operationId": "updateNNIDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/update/ImmunizationServicesScreen": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Update neonatal infant immunization services",
        "operationId": "updateImmunizationServicesNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/update/BirthAndImmunizationHistoryScreen": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Update neonatal infant birth and immunization history",
        "operationId": "updateBirthAndImmunizationHistoryNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/save/nurseData": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Save neonatal infant nurse data",
        "operationId": "saveBenNeoNatalAndInfantNurseData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/save-neo-natal-doctor-data": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Save neonatal infant doctor data",
        "operationId": "saveNNIDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/getBenVitalDetailsFrmNurse": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Get neonatal infant beneficiary vitals",
        "operationId": "getBenVitalDetailsFrmNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/getBenVisitDetailsFrmNurseNNI": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Get neonatal infant beneficiary visit details",
        "operationId": "getBenVisitDetailsFrmNurseNNI",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/getBenImmunizationServiceDetails": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Get neonatal infant beneficiary immunization service details",
        "operationId": "getBenImmunizationServiceDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommonUtilityClass"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/getBenHistoryDetails": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Get neonatal infant beneficiary history",
        "operationId": "getBenHistoryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommonUtilityClass"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/neonatal-infant-services/getBenCaseRecordFromDoctor": {
      "post": {
        "tags": [
          "neonatal-controller"
        ],
        "summary": "Get neonatal infant beneficiary case record and referral",
        "operationId": "getBenCaseRecordFromDoctor",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/masterVillage/set": {
      "post": {
        "tags": [
          "master-village-controller"
        ],
        "summary": "set master village to a user",
        "operationId": "setMasterVillage",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserMasterVillageDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/save/tcSlotDetailsDataPatientApp": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Save tele-consultation slot data in patient app",
        "operationId": "saveTCSlotDataPatientApp",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/save/saveSpecialistDiagnosisData": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Save specialist diagnosis data in patient app",
        "operationId": "saveSpecialistDiagnosisData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/save/getSpecialistDiagnosisData": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Get specialist diagnosis data in patient app",
        "operationId": "getSpecialistDiagnosisData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/save/covidScreeningDataPatientApp": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Save COVID data in patient app",
        "operationId": "saveBenCovidDoctorDataPatientApp",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/save/chiefComplaintsDataPatientApp": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Save chief-complaints data in patient app",
        "operationId": "saveBenChiefComplaintsDataPatientApp",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/get/getPatientsEpisodes": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Get last 3 episode data of the patient in patient app",
        "operationId": "getPatientsLast_3_Episode",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
[...]
