{
  "openapi": "3.0.1",
  "info": {
    "title": "Identity API",
    "description": "A microservice for the creation and management of beneficiaries.",
    "version": "version"
  },
  "servers": [
    {
      "url": "https://amritwprdev.piramalswasthya.org",
      "description": "Dev"
    },
    {
      "url": "https://uatamrit.piramalswasthya.org",
      "description": "UAT"
    },
    {
      "url": "https://amritdemo.piramalswasthya.org",
      "description": "Demo"
    }
  ],
  "security": [
    {
      "my security": []
    }
  ],
  "tags": [
    {
      "name": "Health Check",
      "description": "APIs for checking infrastructure health status"
    }
  ],
  "paths": {
    "/rmnch/syncDataToAmrit": {
      "post": {
        "tags": [
          "rmnch-mobile-app-controller"
        ],
        "summary": "Sync data to AMRIT for already regestered beneficiary with AMRIT beneficiary id ",
        "operationId": "syncDataToAmrit",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/rmnch/getBeneficiaryDataForVillage": {
      "post": {
        "tags": [
          "rmnch-mobile-app-controller"
        ],
        "summary": "Get beneficiary data for given village ",
        "operationId": "getBeneficiaryData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/rmnch/getBeneficiaryDataForAsha": {
      "post": {
        "tags": [
          "rmnch-mobile-app-controller"
        ],
        "summary": "get beneficiary data for given village ",
        "operationId": "getBeneficiaryDataByAsha",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/unreserve": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Unreserve identity by agent",
        "operationId": "unreserveIdentity",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/searhByGovIdentity": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Search beneficiary based on government identity number",
        "operationId": "searhBeneficiaryByGovIdentity",
        "parameters": [
          {
            "name": "identity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/searchByVillageIdAndLastModifiedDate": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Search beneficiary by villageId and last modified date-time",
        "operationId": "searchBeneficiaryByVillageIdAndLastModDate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/searchByFamilyId": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Search beneficiary based on family id",
        "operationId": "searhBeneficiaryByFamilyId",
        "parameters": [
          {
            "name": "familyId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/saveGeneratedBenIDToLocalServer": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Save server generated beneficiary ID & beneficiary registration ID to local server",
        "operationId": "saveGeneratedBenIDToLocalServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/reserve": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Reserve identity by agent",
        "operationId": "reserveIdentity",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/getByPhoneNum": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Search beneficiary based on phone number",
        "operationId": "getBeneficiariesByPhoneNum",
        "parameters": [
          {
            "name": "phoneNum",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/getByPartialBenRegIdList": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Get beneficiaries partial details by beneficiary registration id list",
        "operationId": "getPartialBeneficiariesByBenRegIds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/getByBenRegId": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Search beneficiary based on beneficiary registration id",
        "operationId": "getBeneficiariesByBeneficiaryRegId",
        "parameters": [
          {
            "name": "benRegId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/getByBenRegIdList": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Get beneficiaries by beneficiary registration id",
        "operationId": "getBeneficiariesByBenRegIds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/getByBenId": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Search identity based on beneficiary registration id",
        "operationId": "getBeneficiariesByBeneficiaryId",
        "parameters": [
          {
            "name": "benId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/getByAbhaIdNo": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Search beneficiary based on health ID number / ABHA ID number",
        "operationId": "searhBeneficiaryByABHAIdNo",
        "parameters": [
          {
            "name": "healthIDNo",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/getByAbhaAddress": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Search beneficiary based on health ID / ABHA Address",
        "operationId": "searhBeneficiaryByABHAAddress",
        "parameters": [
          {
            "name": "healthID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/finiteSearch": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Get finite beneficiaries",
        "operationId": "getFiniteBeneficiaries",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/edit": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Edit identity by agent",
        "operationId": "editIdentity",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/editEducationOrCommunity": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Edit education or community by agent",
        "operationId": "editIdentityEducationOrCommunity",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/create": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Create identity by agent",
        "operationId": "createIdentity",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/countBenByVillageIdAndLastModifiedDate": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Get count of beneficiary by villageId and last modified date-time",
        "operationId": "countBeneficiaryByVillageIdAndLastModDate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/benImageByBenRegID": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Get beneficiary image by beneficiary registration id",
        "operationId": "getBeneficiaryImageByBenRegID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/id/advanceSearch": {
      "post": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Get beneficiaries by advance search",
        "operationId": "getBeneficiaries",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/family/untag": {
      "post": {
        "tags": [
          "family-tagging-controller"
        ],
        "summary": "Untag beneficiary from a family",
        "operationId": "untagFamily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/family/searchFamily": {
      "post": {
        "tags": [
          "family-tagging-controller"
        ],
        "summary": "Search family",
        "operationId": "searchFamily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/family/getFamilyDetails": {
      "post": {
        "tags": [
          "family-tagging-controller"
        ],
        "summary": "Get family members details",
        "operationId": "getFamilyDatails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/family/editFamilyTagging": {
      "post": {
        "tags": [
          "family-tagging-controller"
        ],
        "summary": "Edit beneficiary family details",
        "operationId": "editFamilyDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/family/createFamily": {
      "post": {
        "tags": [
          "family-tagging-controller"
        ],
        "summary": "Create family",
        "operationId": "createFamily",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/family/addTag": {
      "post": {
        "tags": [
          "family-tagging-controller"
        ],
        "summary": "Create and modify family tagging",
        "operationId": "saveFamilyTagging",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": [
          "version-controller"
        ],
        "summary": "Get version information",
        "operationId": "versionInformation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/id/checkAvailablBenIDLocalServer": {
      "get": {
        "tags": [
          "identity-controller"
        ],
        "summary": "Check available beneficary id in local server",
        "operationId": "checkAvailablBenIDLocalServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health Check"
        ],
        "summary": "Check infrastructure health",
        "description": "Returns the health status of MySQL, Redis, Elasticsearch, and other configured services",
        "operationId": "checkHealth",
        "responses": {
          "503": {
            "description": "One or more critical services are DOWN",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "200": {
            "description": "Services are UP or DEGRADED (operational with warnings)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "my security": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
