{
  "openapi": "3.0.1",
  "info": {
    "title": "MMU API",
    "description": "A microservice for the creation and management of beneficiaries.",
    "version": "version"
  },
  "servers": [
    {
      "url": "https://amritwprdev.piramalswasthya.org",
      "description": "Dev"
    },
    {
      "url": "https://uatamrit.piramalswasthya.org",
      "description": "UAT"
    },
    {
      "url": "https://amritdemo.piramalswasthya.org",
      "description": "Demo"
    }
  ],
  "security": [
    {
      "my security": []
    }
  ],
  "tags": [
    {
      "name": "Health Check",
      "description": "APIs for checking infrastructure health status"
    }
  ],
  "paths": {
    "/user/getUserVanSpDetails": {
      "post": {
        "tags": [
          "iemr-mmu-login-controller"
        ],
        "summary": "Get user van details",
        "operationId": "getUserVanSpDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/getServicepointVillages": {
      "post": {
        "tags": [
          "iemr-mmu-login-controller"
        ],
        "summary": "Get service point villages",
        "operationId": "getServicepointVillages",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/update/benArrivalStatus": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Update beneficiary arrival status based on request",
        "operationId": "benArrivalStatusUpdater",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/getTCRequestList": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Get TC request list for a specialist",
        "operationId": "getTCSpecialistWorkListNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/create/benTCRequestWithVisitCode": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Create TC request for beneficiary whose visit is created",
        "operationId": "createTCRequestForBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/check/benTCRequestStatus": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Check if specialist can proceed with beneficiary",
        "operationId": "checkBeneficiaryStatusToProceedWithSpecialist",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/cancel/benTCRequest": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Update beneficiary status based on request",
        "operationId": "updateBeneficiaryStatusToCancelTCRequest",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/snomed/getSnomedCTRecord": {
      "post": {
        "tags": [
          "snomed-controller"
        ],
        "summary": "Retrives Snomed CT record",
        "operationId": "getSnomedCTRecord",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/snomed/getSnomedCTRecordList": {
      "post": {
        "tags": [
          "snomed-controller"
        ],
        "summary": "Retrives Snomed CT record list",
        "operationId": "getSnomedCTRecordList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/report/getReport": {
      "post": {
        "tags": [
          "report-gateway"
        ],
        "summary": "Get report",
        "operationId": "getReportByReportID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/report/getReportNew": {
      "post": {
        "tags": [
          "report-gateway"
        ],
        "summary": "Get report by report id",
        "operationId": "getReportByReportID1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/update/BeneficiaryUpdate": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Beneficiary edit, save or submit",
        "operationId": "beneficiaryUpdate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/update/BeneficiaryDetails": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Update registered beneficiary data",
        "operationId": "updateBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarWorkListData": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get registrar worklist data",
        "operationId": "getRegistrarWorkList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarMasterData": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get master data for registrar",
        "operationId": "masterDataForRegistration",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarBeneficaryRegistration": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Register a new beneficiary",
        "operationId": "createBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarBeneficaryRegistrationNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Register a new beneficiary API",
        "operationId": "registrarBeneficaryRegistrationNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/quickSearch": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search for the beneficiary by beneficiary id",
        "operationId": "quickSearchBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/quickSearchNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search beneficiary for beneficiary id or beneficiary phone no",
        "operationId": "quickSearchNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/getBenImage": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary image",
        "operationId": "getBenImage",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/beneficiaryImage": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary image",
        "operationId": "getBeneficiaryImage",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/beneficiaryDetails": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary details",
        "operationId": "getBeneficiaryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/benDetailsByRegID": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary details of given beneficiary registration id",
        "operationId": "getBenDetailsByRegID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/benDetailsByRegIDForLeftPanelNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary details for left side panel of given beneficiary registration id",
        "operationId": "getBenDetailsForLeftSidePanelByRegID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/create/BenReVisitToNurse": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Registrar will submit a beneficiary to nurse for revisit",
        "operationId": "createReVisitForBenToNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/advanceSearch": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search for the beneficiary based on provided data",
        "operationId": "advanceSearch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/advanceSearchNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search beneficiary advance search new",
        "operationId": "advanceSearchNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/update/vitalScreen": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Update covid vital data in doctor screen",
        "operationId": "updateVitalNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/update/historyScreen": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Update history data in doctor screen",
        "operationId": "updateHistoryNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/update/doctorData": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Update covid 19 doctor data",
        "operationId": "updateCovid19DoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/save/nurseData": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Save covid nurse data",
        "operationId": "saveBenCovid19NurseData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/save/doctorData": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Save covid doctor data",
        "operationId": "saveBenCovidDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenVitalDetailsFrmNurseCovid": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get beneficiary covid 19 vital details from nurse NCD care",
        "operationId": "getBenVitalDetailsFrmNurseNCDCare",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenVisitDetailsFrmNurseCovid": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get beneficiary visit details from nurse covid 19",
        "operationId": "getBenVisitDetailsFrmNurseCovid19",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenCovid19HistoryDetails": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get beneficiary covid 19 history details from nurse to doctor ",
        "operationId": "getBenCovid19HistoryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenCaseRecordFromDoctorCovid": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get beneficiary doctor entered details",
        "operationId": "getBenCaseRecordFromDoctorCovid19",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/location/getLocDetailsBasedOnSpIDAndPsmID": {
      "post": {
        "tags": [
          "location-controller"
        ],
        "summary": "Get location details based on SP id and PSM id",
        "operationId": "getLocDetailsBasedOnSpIDAndPsmIDNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/labTechnician/save/LabTestResult": {
      "post": {
        "tags": [
          "lab-technician-controller"
        ],
        "summary": "Save lab test result entered by lab technician",
        "operationId": "saveLabTestResult",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/labTechnician/get/prescribedProceduresList": {
      "post": {
        "tags": [
          "lab-technician-controller"
        ],
        "summary": "Get beneficiary prescribed procedure",
        "operationId": "getBeneficiaryPrescribedProcedure",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/labTechnician/get/labResultForVisitcode": {
      "post": {
        "tags": [
          "lab-technician-controller"
        ],
        "summary": "Get lab test result for a visitcode.",
        "operationId": "getLabResultForVisitCode",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/update/vitalScreen": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Update general OPD vital data in doctor screen",
        "operationId": "updateVitalNurse_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/update/visitDetailsScreen": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Update general OPD visit screen nurse data in doctor screen",
        "operationId": "updateVisitNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/update/historyScreen": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Update history data in doctor Screen",
        "operationId": "updateHistoryNurse_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/update/examinationScreen": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Update general OPD examination data in doctor screen",
        "operationId": "updateGeneralOPDExaminationNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/update/doctorData": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Update general OPD doctor data",
        "operationId": "updateGeneralOPDDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/save/nurseData": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Save general OPD nurse data",
        "operationId": "saveBenGenOPDNurseData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/save/doctorData": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Save general OPD doctor data",
        "operationId": "saveBenGenOPDDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/getBenVitalDetailsFrmNurse": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Get beneficiary vital details from nurse general OPD",
        "operationId": "getBenVitalDetailsFrmNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/getBenVisitDetailsFrmNurseGOPD": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Get beneficiary visit details from nurse general OPD",
        "operationId": "getBenVisitDetailsFrmNurseGOPD",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/getBenHistoryDetails": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Get beneficiary general OPD history details from nurse to doctor ",
        "operationId": "getBenHistoryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/getBenExaminationDetails": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Get beneficiary general OPD examination details from nurse to doctor ",
        "operationId": "getBenExaminationDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/getBenCaseRecordFromDoctorGeneralOPD": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Get beneficiary doctor entered details",
        "operationId": "getBenCaseRecordFromDoctorGeneralOPD",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/update/doctorData": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Update quick consult doctor data",
        "operationId": "updateGeneralOPDQCDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/save/nurseData": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Save quick consult nurse data",
        "operationId": "saveBenQuickConsultDataNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/save/doctorData": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Save quick consultation detail for doctor",
        "operationId": "saveQuickConsultationDetail",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/getBenVitalDetailsFrmNurse": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Get quick consult beneficiary vital details",
        "operationId": "getBenVitalDetailsFrmNurse_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/getBenDataFrmNurseToDocVisitDetailsScreen": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Get quick consult beneficiary visit details",
        "operationId": "getBenDataFrmNurseScrnToDocScrnVisitDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/getBenCaseRecordFromDoctorQuickConsult": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Get quick consult beneficiary case record",
        "operationId": "getBenCaseRecordFromDoctorQuickConsult",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSyncActivity/van-to-server": {
      "post": {
        "tags": [
          "start-sync-activity"
        ],
        "summary": "Start data sync from van to Server",
        "operationId": "dataSyncToServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ServerAuthorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSyncActivity/startMasterDownload": {
      "post": {
        "tags": [
          "start-sync-activity"
        ],
        "summary": "Data sync master download",
        "operationId": "startMasterDownload",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ServerAuthorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSyncActivity/downloadTransactionToLocal": {
      "post": {
        "tags": [
          "start-sync-activity"
        ],
        "summary": "Call central API to download transaction data to local",
        "operationId": "downloadTransactionToLocal",
        "parameters": [
          {
            "name": "ServerAuthorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSyncActivity/callCentralAPIToGenerateBenIDAndimportToLocal": {
      "post": {
        "tags": [
          "start-sync-activity"
        ],
        "summary": "Call central API to generate beneficiary id and import to local",
        "operationId": "callCentralAPIToGenerateBenIDAndimportToLocal",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ServerAuthorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSync/van-to-server": {
      "post": {
        "tags": [
          "mmu-data-sync-van-to-server"
        ],
        "summary": "Sync data from van-to-server",
        "operationId": "dataSyncToServer_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSync/updateProcessedFlagPostDownload": {
      "post": {
        "tags": [
          "mmu-data-sync-van-to-server"
        ],
        "summary": "Update processed flag at central post successfull download",
        "operationId": "updateProcessedFlagPostDownload",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncUploadDataDigester"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSync/server-to-van": {
      "post": {
        "tags": [
          "mmu-data-sync-van-to-server"
        ],
        "summary": "Download data from server-to-van",
        "operationId": "dataDownloadFromServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncDownloadMaster"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSync/server-to-van-transactional": {
      "post": {
        "tags": [
          "mmu-data-sync-van-to-server"
        ],
        "summary": "Download data from server-to-van transactional",
        "operationId": "dataDownloadFromServerTransactional",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncUploadDataDigester"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/commonInsert/saveFiles": {
      "post": {
        "tags": [
          "insert-common-controller"
        ],
        "summary": "Save beneficairy documents locally",
        "operationId": "saveFiles",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/update/benDetailsAndSubmitToNurse": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Update beneficiary status flag",
        "operationId": "saveBeneficiaryVisitDetail",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getDoctorPreviousSignificantFindings": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get doctor entered previous significant Ffindings",
        "operationId": "getDoctorPreviousSignificantFindings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBeneficiaryCaseSheetHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get casesheet history of beneficiary",
        "operationId": "getBeneficiaryCaseSheetHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenTobaccoHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary tobacco history",
        "operationId": "getBenTobaccoHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenSymptomaticQuestionnaireDetails": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary symptomatic questionnaire answer details",
        "operationId": "getBenSymptomaticQuestionnaireDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPreviousReferralHistoryDetails": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary previous referral history",
        "operationId": "getBenPreviousReferralHistoryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPreviousDiabetesHistoryDetails": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary previous diabetes history",
        "operationId": "getBenPreviousDiabetesHistoryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPhysicalHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary physical history",
        "operationId": "getBenPhysicalHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPerinatalHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary perinatal history details",
        "operationId": "getBenPerinatalHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPastObstetricHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary past obstetric history",
        "operationId": "getBenPastObstetricHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPastHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary past history",
        "operationId": "getBenPastHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenOptionalVaccineHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary optional vaccine details",
        "operationId": "getBenOptionalVaccineHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenMenstrualHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary menstrual history",
        "operationId": "getBenMenstrualHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenMedicationHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary medication history",
        "operationId": "getBenMedicationHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenFeedingHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary child feeding history details",
        "operationId": "getBenFeedingHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenFamilyHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary family history",
        "operationId": "getBenFamilyHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenDevelopmentHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary child development history details",
        "operationId": "getBenDevelopmentHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenComorbidityConditionHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary comorbidity condition details",
        "operationId": "getBenANCComorbidityConditionHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenChildVaccineHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary child vaccine(Immunization) details",
        "operationId": "getBenImmunizationHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenAllergyHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary allergy history",
        "operationId": "getBenANCAllergyHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenAlcoholHistory": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary alcohol history",
        "operationId": "getBenAlcoholHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/get/Case-sheet/printData": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get case-sheet print data for beneficiary.",
        "operationId": "getCasesheetPrintData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/get/Case-sheet/centralServerTMCaseSheet": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary TM case record",
        "operationId": "getTMCaseSheetFromCentralServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/get/Case-sheet/TMReferredprintData": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Get beneficiary TM case record",
        "operationId": "getTMReferredPrintData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ServerAuthorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/extend/redisSession": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Extend redis session for 30 minutes",
        "operationId": "extendRedisSession",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/downloadFile": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Download file from file system",
        "operationId": "downloadFile",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/common/doctor/delete/prescribedMedicine": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Soft delete prescribed medicine",
        "operationId": "deletePrescribedMedicine",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/calculateBMIStatus": {
      "post": {
        "tags": [
          "common-controller"
        ],
        "summary": "Calculate beneficiary BMI status",
        "operationId": "calculateBMIStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/anthropometryVitals/getBenHeightDetailsFrmNurse": {
      "post": {
        "tags": [
          "anthropometry-vitals-controller"
        ],
        "summary": "Get beneficiary height details",
        "operationId": "getBenHeightDetailsFrmNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/PNC/update/vitalScreen": {
      "post": {
        "tags": [
          "postnatal-care-controller"
        ],
        "summary": "Update PNC beneficiary vitals in doctor screen",
        "operationId": "updateVitalNurse_2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/PNC/update/historyScreen": {
      "post": {
        "tags": [
          "postnatal-care-controller"
        ],
        "summary": "Update PNC beneficiary history in doctor screen",
        "operationId": "updateHistoryNurse_2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/PNC/update/examinationScreen": {
      "post": {
        "tags": [
          "postnatal-care-controller"
        ],
        "summary": "Update PNC beneficiary examination data in doctor screen",
        "operationId": "updateGeneralOPDExaminationNurse_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/PNC/update/doctorData": {
      "post": {
        "tags": [
          "postnatal-care-controller"
        ],
        "summary": "Update PNC doctor data",
        "operationId": "updatePNCDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/PNC/update/PNCScreen": {
      "post": {
        "tags": [
          "postnatal-care-controller"
        ],
        "summary": "Update PNC care data in doctor screen",
        "operationId": "updatePNCCareNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/PNC/save/nurseData": {
      "post": {
        "tags": [
          "postnatal-care-controller"
        ],
        "summary": "Save PNC nurse data",
        "operationId": "saveBenPNCNurseData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/PNC/save/doctorData": {
      "post": {
        "tags": [
          "postnatal-care-controller"
        ],
        "summary": "Save PNC doctor data",
        "operationId": "saveBenPNCDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/PNC/getBenVitalDetailsFrmNurse": {
      "post": {
        "tags": [
          "postnatal-care-controller"
        ],
        "summary": "Get PNC beneficiary vital details from nurse",
        "operationId": "getBenVitalDetailsFrmNurse_2",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/PNC/getBenVisitDetailsFrmNursePNC": {
      "post": {
        "tags": [
          "postnatal-care-controller"
        ],
        "summary": "Get PNC beneficiary visit details from nurse",
        "operationId": "getBenVisitDetailsFrmNursePNC",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
[...]
