{
  "openapi": "3.0.1",
  "info": {
    "title": "TeleMedicine(TM) API",
    "description": "A microservice for TeleMedicine, providing APIs for remote healthcare consultations, patient management, and related telehealth operations.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://amritwprdev.piramalswasthya.org",
      "description": "Dev"
    },
    {
      "url": "https://uatamrit.piramalswasthya.org",
      "description": "UAT"
    },
    {
      "url": "https://amritdemo.piramalswasthya.org",
      "description": "Demo"
    }
  ],
  "security": [
    {
      "my security": []
    }
  ],
  "paths": {
    "/user/getUserVanSpDetails": {
      "post": {
        "tags": [
          "iemr-mmu-login-controller"
        ],
        "summary": "Get user service point van details",
        "operationId": "getUserVanSpDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/getUserServicePointVanDetails": {
      "post": {
        "tags": [
          "iemr-mmu-login-controller"
        ],
        "summary": "Get user service point van details",
        "operationId": "getUserServicePointVanDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/getServicepointVillages": {
      "post": {
        "tags": [
          "iemr-mmu-login-controller"
        ],
        "summary": "Get service point villages",
        "operationId": "getServicepointVillages",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/update/benArrivalStatus": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Update beneficiary arrival status based on request",
        "operationId": "benArrivalStatusUpdater",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/startconsultation": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Update first consultation start time",
        "operationId": "startconsultation",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/getTCRequestList": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Get teleconsultation request list for a specialist",
        "operationId": "getTCSpecialistWorkListNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/create/benTCRequestWithVisitCode": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Create teleconsultation request from worklist",
        "operationId": "createTCRequestForBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/check/benTCRequestStatus": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Check if specialist can proceed with beneficiary",
        "operationId": "checkBeneficiaryStatusToProceedWithSpecialist",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/tc/cancel/benTCRequest": {
      "post": {
        "tags": [
          "tele-consultation-controller"
        ],
        "summary": "Update beneficiary status based on request",
        "operationId": "updateBeneficiaryStatusToCancelTCRequest",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/snomed/getSnomedCTRecord": {
      "post": {
        "tags": [
          "snomed-controller"
        ],
        "summary": "Retrieve Snomed clinical term",
        "operationId": "getSnomedCTRecord",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/snomed/getSnomedCTRecordList": {
      "post": {
        "tags": [
          "snomed-controller"
        ],
        "summary": "Retrieve Snomed clinical term list",
        "operationId": "getSnomedCTRecordList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/update/BeneficiaryUpdate": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Update registered beneficiary details",
        "operationId": "beneficiaryUpdate",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/update/BeneficiaryDetails": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Update registered beneficiary data",
        "operationId": "updateBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarWorkListData": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get registrar worklist data",
        "operationId": "getRegistrarWorkList",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarMasterData": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get master data for registrar",
        "operationId": "masterDataForRegistration",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarBeneficaryRegistration": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Register a new beneficiary",
        "operationId": "createBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/registrarBeneficaryRegistrationNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Register a new beneficiary new API",
        "operationId": "registrarBeneficaryRegistrationNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/quickSearch": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search for the beneficiary based on beneficiary id",
        "operationId": "quickSearchBeneficiary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/quickSearchNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search beneficiary based on beneficiary id or beneficiary phone number",
        "operationId": "quickSearchNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/getBenImage": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary image",
        "operationId": "getBenImage",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/beneficiaryImage": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary image",
        "operationId": "getBeneficiaryImage",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/beneficiaryDetails": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary details",
        "operationId": "getBeneficiaryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/benDetailsByRegID": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary details based on beneficiary register id",
        "operationId": "getBenDetailsByRegID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/get/benDetailsByRegIDForLeftPanelNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Get beneficiary details for side panel",
        "operationId": "getBenDetailsForLeftSidePanelByRegID",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/create/BenReVisitToNurse": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search and submit beneficiary to nurse for revisit",
        "operationId": "createReVisitForBenToNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/advanceSearch": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Search for the beneficiary based on provided data",
        "operationId": "advanceSearch",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/advanceSearchNew": {
      "post": {
        "tags": [
          "registrar-controller"
        ],
        "summary": "Beneficiary advance search integrated with common and identity API",
        "operationId": "advanceSearchNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/quickblox/getquickbloxIds": {
      "post": {
        "tags": [
          "quickblox-controller"
        ],
        "summary": "Get quickblox id",
        "operationId": "getquickbloxIds",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/update/vitalScreen": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Update COVID beneficiary vitals",
        "operationId": "updateVitalNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/update/historyScreen": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Update COVID beneficiary history",
        "operationId": "updateHistoryNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/update/doctorData": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Update COVID beneficiary case-record and referral details",
        "operationId": "updateCovid19DoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/save/nurseData": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Save COVID nurse data",
        "operationId": "saveBenNCDCareNurseData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/save/doctorData": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Save COVID doctor data",
        "operationId": "saveBenCovidDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenVitalDetailsFrmNurseCovid": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get COVID beneficiary vitals",
        "operationId": "getBenVitalDetailsFrmNurseNCDCare",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenVisitDetailsFrmNurseCovid": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get COVID beneficiary visit details",
        "operationId": "getBenVisitDetailsFrmNurseCovid19",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenCovid19HistoryDetails": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get COVID beneficiary history",
        "operationId": "getBenCovid19HistoryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/pandemic/covid/getBenCaseRecordFromDoctorCovid": {
      "post": {
        "tags": [
          "covid-controller"
        ],
        "summary": "Get COVID beneficiary case-record and referral details",
        "operationId": "getBenCaseRecordFromDoctorCovid19",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/save/tcSlotDetailsDataPatientApp": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Save tele-consultation slot in data patient app",
        "operationId": "saveTCSlotDataPatientApp",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/save/saveSpecialistDiagnosisData": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Save specialist diagnosis data in patient app",
        "operationId": "saveSpecialistDiagnosisData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/save/getSpecialistDiagnosisData": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Get specialist diagnosis data in patient app",
        "operationId": "getSpecialistDiagnosisData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/save/covidScreeningDataPatientApp": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Save COVID data in patient app",
        "operationId": "saveBenCovidDoctorDataPatientApp",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/save/chiefComplaintsDataPatientApp": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Save chief-complaints data in patient app",
        "operationId": "saveBenChiefComplaintsDataPatientApp",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/patientApp/covidMaster/{visitCategoryID}/{providerServiceMapID}/{gender}": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "COVID master data API for patient app",
        "operationId": "patientAppCovidMasterData",
        "parameters": [
          {
            "name": "visitCategoryID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "providerServiceMapID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "gender",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/patientApp/chiefComplaintsMaster/{visitCategoryID}/{providerServiceMapID}/{gender}": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Chief complaints master data API for patient app",
        "operationId": "patientAppChiefComplaintsMasterData",
        "parameters": [
          {
            "name": "visitCategoryID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "providerServiceMapID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "gender",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/get/getPatientsEpisodes": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Get last 3 episode data of the patient in patient app",
        "operationId": "getPatientsLast_3_Episode",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/get/getPatientEpisodeData": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Get patient episode data for specialist in patient app",
        "operationId": "getPatientEpisodeDataMobileApp",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/master/get/getPatientBookedSlotDetails": {
      "post": {
        "tags": [
          "patient-app-common-master-controller"
        ],
        "summary": "Get patient booked slot data in patient app",
        "operationId": "getPatientBookedSlotDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/location/getLocDetailsBasedOnSpIDAndPsmID": {
      "post": {
        "tags": [
          "location-controller"
        ],
        "summary": "Get location details from service point id and provider service map id",
        "operationId": "getLocDetailsBasedOnSpIDAndPsmIDNew",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/labTechnician/save/LabTestResult": {
      "post": {
        "tags": [
          "labtechnician-controller"
        ],
        "summary": "Save lab test result",
        "operationId": "saveLabTestResult",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/labTechnician/get/prescribedProceduresList": {
      "post": {
        "tags": [
          "labtechnician-controller"
        ],
        "summary": "Get beneficiary lab test prescription",
        "operationId": "getBeneficiaryPrescribedProcedure",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/labTechnician/get/labResultForVisitcode": {
      "post": {
        "tags": [
          "labtechnician-controller"
        ],
        "summary": "Get lab test result for a beneficiary visit",
        "operationId": "getLabResultForVisitCode",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/update/vitalScreen": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Update general OPD beneficiary vitals",
        "operationId": "updateVitalNurse_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/update/visitDetailsScreen": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Update beneficiary's general OPD visit details",
        "operationId": "updateVisitNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/update/historyScreen": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Update beneficiary history",
        "operationId": "updateHistoryNurse_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/update/examinationScreen": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Update general OPD beneficiary examination data",
        "operationId": "updateGeneralOPDExaminationNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/update/doctorData": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Update general OPD beneficiary case record and referral",
        "operationId": "updateGeneralOPDDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/save/nurseData": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Save general OPD data collected by nurse",
        "operationId": "saveBenGenOPDNurseData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/save/doctorData": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Save general OPD data collected by doctor",
        "operationId": "saveBenGenOPDDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/getBenVitalDetailsFrmNurse": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Get general OPD beneficiary vitals",
        "operationId": "getBenVitalDetailsFrmNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/getBenVisitDetailsFrmNurseGOPD": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Get general OPD beneficiary visit details",
        "operationId": "getBenVisitDetailsFrmNurseGOPD",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/getBenHistoryDetails": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Get general OPD beneficiary history",
        "operationId": "getBenHistoryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/getBenExaminationDetails": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Get general OPD beneficiary examination details",
        "operationId": "getBenExaminationDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/generalOPD/getBenCaseRecordFromDoctorGeneralOPD": {
      "post": {
        "tags": [
          "general-opd-controller"
        ],
        "summary": "Get general OPD beneficiary case record and referral",
        "operationId": "getBenCaseRecordFromDoctorGeneralOPD",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/update/doctorData": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Update quick consult doctor data",
        "operationId": "updateGeneralOPDQCDoctorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/save/nurseData": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Save quick consult nurse data",
        "operationId": "saveBenQuickConsultDataNurse",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/save/doctorData": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Save quick consult doctor data",
        "operationId": "saveQuickConsultationDetail",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/getBenVitalDetailsFrmNurse": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Get quick consult beneficiary vital details",
        "operationId": "getBenVitalDetailsFrmNurse_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/getBenDataFrmNurseToDocVisitDetailsScreen": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Get quick consult beneficiary visit details",
        "operationId": "getBenDataFrmNurseScrnToDocScrnVisitDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/genOPD-QC-quickConsult/getBenCaseRecordFromDoctorQuickConsult": {
      "post": {
        "tags": [
          "quick-consult-controller"
        ],
        "summary": "Get quick consult beneficiary case record",
        "operationId": "getBenCaseRecordFromDoctorQuickConsult",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/foetalMonitor/update/foetalMonitorData": {
      "post": {
        "tags": [
          "foetal-monitor-controller"
        ],
        "summary": "Update foetal monitor data",
        "operationId": "updateFoetalMonitorData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/foetalMonitor/sendMotherTestDetailsToFoetalMonitor": {
      "post": {
        "tags": [
          "foetal-monitor-controller"
        ],
        "summary": "Send the mother data and prescribed test details to foetal monitor",
        "operationId": "sendANCMotherTestDetailsToFoetalMonitor",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/foetalMonitor/registerMother": {
      "post": {
        "tags": [
          "foetal-monitor-controller"
        ],
        "summary": "Foetal monitor device status check",
        "operationId": "saveMother",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/foetalMonitor/fetch/reportGraphBase64": {
      "post": {
        "tags": [
          "foetal-monitor-controller"
        ],
        "summary": "Fetch foetal monitor pdf report (Base64 format)",
        "operationId": "getFoetalMonitorDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FoetalMonitor"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSyncActivity/van-to-server": {
      "post": {
        "tags": [
          "start-sync-activity"
        ],
        "summary": "Initiate data sync from van to server",
        "operationId": "dataSyncToServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ServerAuthorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSyncActivity/startMasterDownload": {
      "post": {
        "tags": [
          "start-sync-activity"
        ],
        "summary": "Data synced master data",
        "operationId": "startMasterDownload",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ServerAuthorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSync/van-to-server": {
      "post": {
        "tags": [
          "mmu-data-sync-van-to-server"
        ],
        "summary": "Download data from van-to-server (Mobile Medical Unit)",
        "operationId": "dataSyncToServer_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/dataSync/server-to-van": {
      "post": {
        "tags": [
          "mmu-data-sync-van-to-server"
        ],
        "summary": "Download data from server to van (Mobile Medical Unit)",
        "operationId": "dataDownloadFromServer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncDownloadMaster"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/update/benDetailsAndSubmitToNurse": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Update beneficiary status flag",
        "operationId": "saveBeneficiaryVisitDetail",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getProviderSpecificData": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get provider specific data",
        "operationId": "getProviderSpecificData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getKMFile": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Add file as string to openKM",
        "operationId": "getKMFile",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getDoctorPreviousSignificantFindings": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get previous significant findings",
        "operationId": "getDoctorPreviousSignificantFindings",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBeneficiaryCaseSheetHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary casesheet history",
        "operationId": "getBeneficiaryCaseSheetHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenTobaccoHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary tobacco consumption history",
        "operationId": "getBenTobaccoHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenSymptomaticQuestionnaireDetails": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary symptomatic questionnaire answer details",
        "operationId": "getBenSymptomaticQuestionnaireDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPreviousReferralHistoryDetails": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary previous referral history",
        "operationId": "getBenPreviousReferralHistoryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPreviousDiabetesHistoryDetails": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary previous diabetes history",
        "operationId": "getBenPreviousDiabetesHistoryDetails",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPhysicalHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary physical history",
        "operationId": "getBenPhysicalHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPerinatalHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary perinatal history",
        "operationId": "getBenPerinatalHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPastObstetricHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary obstetric history",
        "operationId": "getBenPastObstetricHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenPastHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary history",
        "operationId": "getBenPastHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenOptionalVaccineHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary optional vaccine details",
        "operationId": "getBenOptionalVaccineHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenMenstrualHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary menstrual history",
        "operationId": "getBenMenstrualHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenMedicationHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary medication history",
        "operationId": "getBenMedicationHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenFeedingHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get child beneficiary feeding history",
        "operationId": "getBenFeedingHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenFamilyHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary family history",
        "operationId": "getBenFamilyHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenDevelopmentHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get child beneficiary development history",
        "operationId": "getBenDevelopmentHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenComorbidityConditionHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary comorbidity condition details",
        "operationId": "getBenANCComorbidityConditionHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenChildVaccineHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get child beneficiary vaccine details",
        "operationId": "getBenImmunizationHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenAllergyHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary allergy history",
        "operationId": "getBenANCAllergyHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/getBenAlcoholHistory": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Get beneficiary alcohol consumption history",
        "operationId": "getBenAlcoholHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/get/Case-sheet/printData": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Print case sheet of beneficiary",
        "operationId": "getCasesheetPrintData",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/extend/redisSession": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Extend redis session for 30 mins",
        "operationId": "extendRedisSession",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/doctor/delete/prescribedMedicine": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Soft delete prescribed medicine",
        "operationId": "deletePrescribedMedicine",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/common/calculateBMIStatus": {
      "post": {
        "tags": [
          "worklist-controller"
        ],
        "summary": "Calculate beneficiary BMI status",
        "operationId": "calculateBMIStatus",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
[...]
